.root{
    -fx-background-color:#EAEEF4;
}

.anchorPaneLado{
     -fx-background-color:#353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}
.panelIconoGato{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
    
}
.panelPuntos{
    -fx-background-color:#6780E2;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.btnHoverActivada{
    -fx-background-color:#141313;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}
.btnHoverDesactivado{
    -fx-background-color:#353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #353A56;
}
.panel1{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}
/*
.barraProgreso{
     -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
     -fx-border-style: solid;
    -fx-border-color: #ffffff;
}*/
.panel2{
      -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
     -fx-border-style: solid;
    -fx-border-color: #ffffff;
}
.panel3{
    -fx-background-color:#FD9999;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
     -fx-border-style: solid;
    -fx-border-color: #FD9999;
    
}
.pane_1111{
     -fx-background-color:#353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
     -fx-border-style: solid;
    -fx-border-color: #353A56;
}
.text-field {
    -fx-background-color: transparent;       /* Quita fondo blanco */
    -fx-border-color: transparent transparent #999 transparent; /* Línea solo abajo */
    -fx-border-width: 0 0 2 0;               /* Grosor de la línea inferior */
    -fx-prompt-text-fill: #aaa;              /* Color del texto sugerido */
    -fx-text-fill: #000;                     /* Color del texto */
    -fx-padding: 5 0 5 0;                    /* Espaciado interno */
}
