.Item{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
    
}

.sombra{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.btnBorrar{
    -fx-background-color: #cd0101;
}